<div class="home-container">
   <div class="content-wrapper">
    <div class="info-section">
      <h1>LILAS</h1>
      <p>Una página web donde encontrarás varias opciones de desayunos y meriendas para disfrutar.</p>
      <button class="login-button" (click)="goToLogin()">
        Iniciar sesión
      </button>
    </div>

  <div class="image-gallery">
    <!-- Aquí irían las imágenes de tu diseño. Puedes usar <img> o divs con background-image -->
    <img src="assets/croasant.jpg" alt="Tostada">
    <img src="assets/cafe.jpg" alt="Bebida fria">
    <img src="assets/bebida1.jpg" alt="Cafe">
    <img src="assets/yogur.jpg" alt="Yogurt">
  </div>
</div>